In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('../data.csv', index_col=0)
person_df = pd.read_csv('../person.csv', index_col='_id')

In [29]:
window_size = 100
step = 25

In [30]:
data_df.groupby(by='_id', sort=False)\
    .rolling(window=window_size, min_periods=window_size)\
    .agg(['mean', 'std', 'max', 'min'])\
    .dropna(axis=0, how='any')[::step]\
    .drop('_id', axis=1)

                   x                                       y               \
                mean          std      max      min     mean          std
_id
1   99      14093.32   292.104896  15044.0  13252.0   565.96   633.523415
    124     13962.08   324.378868  14636.0  13136.0   676.16   603.767276
    149     13766.20   357.606578  14520.0  12836.0   157.68  1043.186134
    174     13474.52   448.441577  14268.0  12544.0   216.40  1293.095073
    199     13171.72   525.860143  14268.0  12000.0   -11.08  1209.677857
...              ...          ...      ...      ...      ...          ...
311 248547  14922.72  3592.622199  23688.0   9424.0  -895.72  1385.373319
    248572  14993.44  3544.279603  23688.0   9424.0 -1130.24  1549.973927
    248597  15152.04  3581.770072  23688.0   9212.0  -994.12  1720.060648
    248622  14821.28  3600.001207  24076.0   9212.0  -948.92  1772.984961
    248647  15011.96  3451.862399  24076.0   9212.0  -943.04  1763.129185

                                  z
               max     min     mean          std     max      min
_id
1   99      1840.0 -1360.0 -8564.20   315.491151 -7808.0  -9220.0
    124     1840.0  -996.0 -8782.20   383.493511 -8064.0  -9648.0
    149     1644.0 -2016.0 -9051.92   394.438911 -8248.0  -9904.0
    174     3004.0 -2016.0 -9476.16   561.856352 -8532.0 -10612.0
    199     3004.0 -2016.0 -9901.00   644.563873 -8848.0 -11392.0
...            ...     ...      ...          ...     ...      ...
311 248547  3096.0 -3980.0 -7414.36  2419.563436 -4268.0 -13888.0
    248572  3096.0 -4504.0 -7428.16  2343.348406 -3896.0 -13888.0
    248597  3168.0 -4504.0 -7647.72  2352.360878 -3896.0 -13888.0
    248622  3760.0 -5212.0 -7437.36  2315.230012 -3896.0 -13888.0
    248647  3760.0 -5212.0 -7427.40  2240.532071 -3552.0 -12756.0

[9440 rows x 12 columns]

In [31]:
def standart_metrics(data):
    def energy(series):
        series = series**2
        return np.mean(series)
    
    def iqr(series):
        return np.quantile(series, 0.75) - np.quantile(series, 0.25)
    
    extracted = data_df.groupby(by='_id', sort=False)\
        .rolling(window=window_size, min_periods=window_size)\
        .agg(['mean', 'std', 'max', 'min', energy, iqr])\
        .dropna(axis=0, how='any')[::step]\
        .drop('_id', axis=1)
    extracted.columns = extracted.columns.map('_'.join)
    
    return extracted.astype(np.float64)

In [32]:
extracted = standart_metrics(data_df)

In [33]:
extracted

              x_mean        x_std    x_max    x_min      x_energy   x_iqr  \
_id
1   99      14093.32   292.104896  15044.0  13252.0  1.987061e+08   345.0
    124     13962.08   324.378868  14636.0  13136.0  1.950438e+08   433.0
    149     13766.20   357.606578  14520.0  12836.0  1.896349e+08   468.0
    174     13474.52   448.441577  14268.0  12544.0  1.817618e+08   639.0
    199     13171.72   525.860143  14268.0  12000.0  1.737680e+08   814.0
...              ...          ...      ...      ...           ...     ...
311 248547  14922.72  3592.622199  23688.0   9424.0  2.354654e+08  5910.0
    248572  14993.44  3544.279603  23688.0   9424.0  2.372395e+08  5291.0
    248597  15152.04  3581.770072  23688.0   9212.0  2.422851e+08  5213.0
    248622  14821.28  3600.001207  24076.0   9212.0  2.325007e+08  5696.0
    248647  15011.96  3451.862399  24076.0   9212.0  2.371551e+08  4856.0

             y_mean        y_std   y_max   y_min    y_energy   y_iqr   z_mean  \
_id
1   99       565.96   633.523415  1840.0 -1360.0   717649.12   653.0 -8564.20
    124      676.16   603.767276  1840.0  -996.0   818081.92   677.0 -8782.20
    149      157.68  1043.186134  1644.0 -2016.0  1102217.92  1575.0 -9051.92
    174      216.40  1293.095073  3004.0 -2016.0  1702202.88  2124.0 -9476.16
    199      -11.08  1209.677857  3004.0 -2016.0  1448810.08  1748.0 -9901.00
...             ...          ...     ...     ...         ...     ...      ...
311 248547  -895.72  1385.373319  3096.0 -3980.0  2702380.96  1655.0 -7414.36
    248572 -1130.24  1549.973927  3096.0 -4504.0  3655837.44  1841.0 -7428.16
    248597  -994.12  1720.060648  3168.0 -4504.0  3917297.12  2125.0 -7647.72
    248622  -948.92  1772.984961  3760.0 -5212.0  4012490.08  1937.0 -7437.36
    248647  -943.04  1763.129185  3760.0 -5212.0  3966862.72  2208.0 -7427.40

                  z_std   z_max    z_min     z_energy   z_iqr
_id
1   99       315.491151 -7808.0  -9220.0  73444060.96   445.0
    124      383.493511 -8064.0  -9648.0  77272633.44   569.0
    149      394.438911 -8248.0  -9904.0  82091281.92   630.0
    174      561.856352 -8532.0 -10612.0  90110134.08   840.0
    199      644.563873 -8848.0 -11392.0  98441108.96  1082.0
...                 ...     ...      ...          ...     ...
311 248547  2419.563436 -4268.0 -13888.0  60768478.56  4419.0
    248572  2343.348406 -3896.0 -13888.0  60613929.92  4414.0
    248597  2352.360878 -3896.0 -13888.0  63965886.88  4252.0
    248622  2315.230012 -3896.0 -13888.0  60621010.88  3961.0
    248647  2240.532071 -3552.0 -12756.0  60136054.88  3788.0

[9440 rows x 18 columns]

In [34]:
def sma(data):
    data = data.copy()
    data['magnitude'] = np.sqrt(data['x']**2 + data['y']**2 + data['z']**2)
    SMA = data.groupby(by='_id', sort=False)\
        .rolling(window=window_size, min_periods=window_size)\
        .agg(['mean'])\
        .dropna(axis=0, how='any')[::step]\
        .drop('_id', axis=1)['magnitude']
    return SMA.rename(columns={'mean':'sma'})

In [35]:
extracted['sma'] = sma(data_df)['sma']

In [40]:
data_df.groupby(by='_id', sort=False)[['x', 'y']]\
    .rolling(window=window_size).corr().iloc[0::2,-1]\
    .dropna(axis=0, how='any')[::step]\
    .index.droplevel(2)

MultiIndex([(  1,     99),
            (  1,    124),
            (  1,    149),
            (  1,    174),
            (  1,    199),
            (  1,    224),
            (  1,    249),
            (  1,    274),
            (  1,    299),
            (  1,    324),
            ...
            (311, 248422),
            (311, 248447),
            (311, 248472),
            (311, 248497),
            (311, 248522),
            (311, 248547),
            (311, 248572),
            (311, 248597),
            (311, 248622),
            (311, 248647)],
           names=['_id', None], length=9440)

In [46]:
def corr_metric(data):
    pairs = [['x', 'y'], ['x', 'z'], ['y', 'z']]
    corr_df = pd.DataFrame()
    
    for pair in pairs:
        corr_ser = data.groupby(by='_id', sort=False)[pair]\
        .rolling(window=window_size)\
        .corr().iloc[0::2,-1]\
        .dropna(axis=0, how='any')[::step]
        
        corr_ser.index = corr_ser.index.droplevel(2)
        
        col_name = ''.join(pair) + '_corr'
        corr_df[col_name] = corr_ser
        
    return corr_df

In [48]:
extracted = pd.concat([extracted, corr_metric(data_df)], axis=1)

In [49]:
extracted.to_csv('windowed_metrics_data.csv')

### Замеряем время подсчета каждой из метрик