In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('../data.csv', index_col=0)
person_df = pd.read_csv('../person.csv', index_col='_id')

In [3]:
window_size = 100
step = 25

In [4]:
data_df.groupby(by='_id', sort=False)\
    .rolling(window=window_size, min_periods=window_size)\
    .agg(['mean', 'std', 'max', 'min'])\
    .dropna(axis=0, how='any')[::step]\
    .drop('_id', axis=1)

                   x                                       y               \
                mean          std      max      min     mean          std
_id
1   99      14093.32   292.104896  15044.0  13252.0   565.96   633.523415
    124     13962.08   324.378868  14636.0  13136.0   676.16   603.767276
    149     13766.20   357.606578  14520.0  12836.0   157.68  1043.186134
    174     13474.52   448.441577  14268.0  12544.0   216.40  1293.095073
    199     13171.72   525.860143  14268.0  12000.0   -11.08  1209.677857
...              ...          ...      ...      ...      ...          ...
311 248547  14922.72  3592.622199  23688.0   9424.0  -895.72  1385.373319
    248572  14993.44  3544.279603  23688.0   9424.0 -1130.24  1549.973927
    248597  15152.04  3581.770072  23688.0   9212.0  -994.12  1720.060648
    248622  14821.28  3600.001207  24076.0   9212.0  -948.92  1772.984961
    248647  15011.96  3451.862399  24076.0   9212.0  -943.04  1763.129185

                                  z
               max     min     mean          std     max      min
_id
1   99      1840.0 -1360.0 -8564.20   315.491151 -7808.0  -9220.0
    124     1840.0  -996.0 -8782.20   383.493511 -8064.0  -9648.0
    149     1644.0 -2016.0 -9051.92   394.438911 -8248.0  -9904.0
    174     3004.0 -2016.0 -9476.16   561.856352 -8532.0 -10612.0
    199     3004.0 -2016.0 -9901.00   644.563873 -8848.0 -11392.0
...            ...     ...      ...          ...     ...      ...
311 248547  3096.0 -3980.0 -7414.36  2419.563436 -4268.0 -13888.0
    248572  3096.0 -4504.0 -7428.16  2343.348406 -3896.0 -13888.0
    248597  3168.0 -4504.0 -7647.72  2352.360878 -3896.0 -13888.0
    248622  3760.0 -5212.0 -7437.36  2315.230012 -3896.0 -13888.0
    248647  3760.0 -5212.0 -7427.40  2240.532071 -3552.0 -12756.0

[9440 rows x 12 columns]

In [ ]:
def standart_metrics(data):
    extracted = data.groupby(by='_id', sort=False).rolling(window).agg(['mean', 'std', 'max', 'min'])
    extracted.columns = extracted.columns.map('_'.join)
    
    return extracted.astype(np.float64)